<a class="back" href="/event">&#x25c0; Back to event</a>
<div class="header">CodeDay Chat</div>

<div class="text">
  For communication during CodeDay, we've implemented a chat system so that staff, volunteers, and attendees can all talk to each other
  both during, before, and after CodeDay. You should have received an email with instructions on how to join it, but all you have
  to do is go to <a href=https://chat.srnd.org>chat.srnd.org</a> and sign in with your s5 account. With the CodeDay Chat,
  you will be able to receive mentorship, help, contact staff, and talk with CodeDay attendees from all over North America!
</div>

<div class="text">
  If you don't have an s5 account, you can sign up for one by going to <a href="https://s5.srnd.org">s5.srnd.org</a>. Your s5 account is 
  your login for all things StudentRND, so dont forget to make one!
</div>
