<div class="codeday-logo"></div>

<div ng-if="loggedIn">
  <div class="grid--length-1">
    <a href="/ticket" class="button color-primary-1 big">
      {{ registration.first_name }}'s Ticket
    </a>
  </div>

  <div class="grid--length-1">
    <a href="/info" class="button color-primary-2 big">
      Event Info
    </a>
  </div>

  <div class="grid--length-2">
    <a href="/slack" class="button color-primary-3 sorta-big">
      Chat
    </a>

    <a href="/schedule" class="button color-primary-4 sorta-big">
      Schedule
    </a>
  </div>

  <div class="grid--length-1">
    <a href="/help" class="button color-primary-5 sorta-big">
      Need Help?
    </a>
  </div>
</div>