<a class="back" href="/event">&#x25c0; Back to event</a>
<div class="header">Need help?</div>

<div class="text">
  If you need help during the event, you can contact our friendly
  event staff using the buttons below.
</div>

<div class="grid--length-1">
  <a href="tel:888CODE230" class="button color-primary-1 big">
    Call {{ staff.evangelist.first_name }} <span class="muted">&mdash; Evangelist</span>
  </a>
</div>

<div class="grid--length-1">
  <a href="mailto:{{ staff.manager.email }}" class="button color-primary-2 big">
    Email {{ staff.manager.first_name }} <span class="muted">&mdash; RM</span>
  </a>
</div>

<div class="grid--length-1">
  <a href="javascript:talkus('open')" class="button color-primary-3 sorta-big">
    Chat with us
  </a>
</div>