<a class="back" href="/event">&#x25c0; Back to event</a>
<div class="header">Event Info</div>

<div class="text">
  For event info, head to the <a href="https://codeday.org">CodeDay website</a> and find your city.
  <br><br>
  We'll add stuff here later... don't worry.
</div>

<!--<div class="subheader">{{ registration.event.name }}</div>

<div class="map">
  <iframe
    width="100%"
    height="300"
    frameborder="0" style="border:0"
    src="{{ registration.event.venue.full_address | mapsUrl }}" allowfullscreen>
  </iframe>
</div>

<div class="text">Arrive at 11am</div>-->