<a class="back" href="/event">&#x25c0; Back to event</a>
<div class="header">CodeDay Chat</div>

<div class="text">
  At CodeDay, we use Slack for communication during CodeDay. You should have received
  an email with instructions on how to join it. With the CodeDay Slack, you will be able
  to receive mentorship, contact staff, and chat with attendees from CodeDays all over
  the nation!
</div>

<div class="text">
  To sign up for our Slack team, you need to make an <a href="https://s5.srnd.org">s5 account</a>,
  then tap on the "CodeDay Chat" link once you're signed in.
</div>